<!-- You can look at the hunan menu as a reference for a completed menu https://gitlab.com/humperdink/wir-menus/-/blob/master/menus/hunan.html -->
<div id="#" class="modal modal-fixed-footer">
    <div class="modal-content">
        <!-- Update the Restaurant Name with the name of the restaurant you are making the menu for -->
        <h4 class="center-align">Restaurant Name</h4>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <!-- Copy this entire <li> section here to create a new section of the menu -->
            <li>
                <!-- Update the Menu Section Title with the title of the section on the menu -->
                <div class="collapsible-header">Menu Section Title</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <!-- Do not change these -->
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- You can copy the <tr> section here and create as many menu items as needed for the current section -->
                            <tr>
                                <td>Hamburger</td>
                                <td>$1.25</td>
                            </tr>
                            <tr>
                                <td>Cheeseburger</td>
                                <td>$1.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-amber btn-flat">Close</a>
    </div>
</div>