<div id="hacienda-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="center-align">Hacienda El Asadero</h4>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Appetizers</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cheese Dip</td>
                                <td>$2.75</td>
                            </tr>
                            <tr>
                                <td>Rice with Cheese</td>
                                <td>$3.00</td>
                            </tr>
                            <tr>
                                <td>Queso Fundido</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Queso Fundido with Shrimp</td>
                                <td>$7.50</td>
                            </tr>
                            <tr>
                                <td>Cheese Quesadilla</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Chicken Quesadilla</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Grilled Chicken or Steak Quesadilla</td>
                                <td>$4.75</td>
                            </tr>
                            <tr>
                                <td>Beef or Mushroom Quesadilla</td>
                                <td>$3.25</td>
                            </tr>
                            <tr>
                                <td>Shrimp Quesadilla</td>
                                <td>$5.99</td>
                            </tr>
                            <tr>
                                <td>Nachos with Cheese or Beans</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Nachos with Beef, Chicken or Beef & Beans</td>
                                <td>$5.99</td>
                            </tr>
                            <tr>
                                <td>Fajita Nachos</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Nachos Supremos</td>
                                <td>$9.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Appetizers</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Big Deal - <br>16 oz. cheese dip and<br>16 oz. salsa with a<br>big bag of chips</td>
                                <td>$14.99</td>
                            </tr>
                            <tr>
                                <td>Cheese Dip & Big Bag of Chips - 16 oz.<br>8 oz.</td>
                                <td>$8.99<br>$3.99</td>
                            </tr>
                            <tr>
                                <td>Salsa & Chips - 8 oz.<br>16 oz.</td>
                                <td>$2.99<br>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Salads & More</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Warm Fajita Salad</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Fajita Taco Salad</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Shrimp Fajita Taco Salad</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Canc&#250;n Salad</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Tossed Salad</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Taco Salad</td>
                                <td>$6.99</td>
                            </tr>
                            <tr>
                                <td>Fiesta Salad</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Marinated Chicken Salad</td>
                                <td>$8.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Sides</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cheese Dip</td>
                                <td>$7.99</td>
                            </tr>
                            <tr>
                                <td>Salsa</td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Enchiladas</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Enchiladas Supremas</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Enchiladas Suizas</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Enchiladas Rancheras</td>
                                <td>$7.99</td>
                            </tr>
                            <tr>
                                <td>Seafood Enchiladas</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Enchiladas Verdes</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Burritos</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Burrito California<br>Add Shrimp</td>
                                <td>$9.99<br>$11.99</td>
                            </tr>
                            <tr>
                                <td>Churris Shrimp Burrito</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Shrimp Chimichanga</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Hacienda El Asadero Burrito</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Fajita Burrito</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Burrito Deluxe</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Burrito Supreme</td>
                                <td>$5.99</td>
                            </tr>
                            <tr>
                                <td>Chimichanga</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Fajita Chimichanga Meal</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Burrito Vallarta</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Burrito Verde</td>
                                <td>$8.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">Combinations</h4>
        <div class="divider"></div>
        <p class="center-align">No substitutions except for rice and beans.<br>Choice of chicken or beef. Substitute red
            sauce for cheese sauce, $1.00 extra.</p>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Combo 1</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Once taco, two enchiladas and rice</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 2</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Once taco, one enchilada and one bean tostada</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 3</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One taco, one enchilada and one chile relleno</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 4</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Two beef enchiladas, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 5</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef enchilada, one taco, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 6</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One enchilada, one chile relleno, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 7</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One enchilada, one quesadilla, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 8</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Two beef tacos, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 9</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef burrito, one taco and one enchilada</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 10</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef burrito, one enchilada and one quesadilla</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 11</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef tostada, one chile relleno and one beef burrito</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 12</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef burrito, one enchilada, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 13</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One bean tostada, one beef burrito and one enchilada</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 14</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chile relleno, one taco, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 15</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One taco, one burrito and one beef tostada</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 16</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One burrito, one chile relleno and one taco</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 17</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One taco, one beef burrito, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 18</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chile relleno, one beef burrito, rice and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 19</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chimichanga, one beef or chicken taco and one enchilada</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 20</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One flauta, one chimichanga and rice</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 21</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chicken quesadilla, one beef taco and rice</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 22</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One mushroom quesadilla, one cheese enchilada and beans</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 23</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One steak quesadilla, one chicken taco and one beef enchilada</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 24</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chicken chimichanga, one beef taco, lettuce, sour cream and tomatoes</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">Vegetarian</h4>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Combo 1</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chalupa, one cheese enchilada and beans</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 2</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Two bean burritos and nacho cheese sauce</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 3</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One bean burrito, one cheese enchilada, one bean tostada</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 4</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One bean burrito, one cheese quesadilla and one chalupa</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 5</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One cheese quesadilla, rice and beans</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Meals</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Vegetarian Fajitas</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Arroz con Vegetales</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Vegetable Burrito</td>
                                <td>$9.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">A La Carte</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bean Dip</td>
                                <td>$3.25</td>
                            </tr>
                            <tr>
                                <td>Burrito Carnitas<br>With cheese dip</td>
                                <td>$5.99</td>
                            </tr>
                            <tr>
                                <td>Guacamole</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Avocado Slices</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Guacamole Salad</td>
                                <td>$3.50</td>
                            </tr>
                            <tr>
                                <td>Beans or Rice</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Chiles Toreados</td>
                                <td>$1.50</td>
                            </tr>
                            <tr>
                                <td>Crispy Beef Taco</td>
                                <td>$1.75</td>
                            </tr>
                            <tr>
                                <td>Soft Steak Taco</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Sour Cream</td>
                                <td>$0.99</td>
                            </tr>
                            <tr>
                                <td>Chile Relleno</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Chalupa</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Burrito<br>Chicken or beef</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Enchilada<br>Cheese, beef or chicken</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Chimichanga<br>Chicken or beef<br>Shrimp</td>
                                <td><br>$4.25<br>$6.50</td>
                            </tr>
                            <tr>
                                <td>Chicken Flauta</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Extra Tortilla</td>
                                <td>$0.75</td>
                            </tr>
                            <tr>
                                <td>Side of Bacon</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Taco Supremo</td>
                                <td>$2.25</td>
                            </tr>
                            <tr>
                                <td>Taco<br>Steak and shrimp</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Side of Fruit</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Side of Steamed Vegetables</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Side of Grilled Pineapple</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Side of Limes</td>
                                <td>$0.99</td>
                            </tr>
                            <tr>
                                <td>Hot Sauce</td>
                                <td>$0.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Quesadillas</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lite Grilled Chicken Quesadilla</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Dinner Quesadilla<br>Add grilled chicken</td>
                                <td>$6.99<br>$1.99</td>
                            </tr>
                            <tr>
                                <td>Fajita Quesadilla</td>
                                <td>$8.99</td>
                            </tr>
                            <tr>
                                <td>Quesadilla Hawaiana</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Shrimp Quesadilla</td>
                                <td>$10.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">Grande Fiesta</h4>
        <div class="divider"></div>
        <p class="center-align">A feast for the senses. Our classic fajitas are served sizzling on an extra large
            cast-iron skillet with saut&#233;ed, garden-fresh vegetables. Served with beans, rice, fresh guacamole salad
            and warm tortillas.</p>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Fajitas</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fajita Alambre</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Steak or Chicken Breast Fajita</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Steak & Chicken Breast Fajitas</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Shrimp Fajitas</td>
                                <td>$13.99</td>
                            </tr>
                            <tr>
                                <td>Fajitas Supremas</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Fajita Hawaiana</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Fajitas El Monte<br>Extra meat</td>
                                <td>$12.99<br>$2.00</td>
                            </tr>
                            <tr>
                                <td>Fresh Fish Fajitas</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Carnitas Fajitas</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Fajitas Ayala</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Fajitas El Patr&#243;n</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Fajitas del Mar</td>
                                <td>$13.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">Kids</h4>
        <div class="divider"></div>
        <p class="center-align">Children 10 and under only.<br>No adults, no excuses.</p>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Combo 1</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One cheese quesadilla, rice and beans</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 2</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One taco, rice and beans</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 3</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One cheese enchilada, rice and beans</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 4</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One bean burrito, rice and beans</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 5</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One quesadilla and French fries</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 6</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Grilled chicken and French fries</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 7</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cheese pizza and French fries</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 8</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Small taco salad with chicken or beef</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 9</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Chicken fingers and French fries</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 10</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hot dog with French fries</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Combo 11</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Combo Items</th>
                                <th>Combo Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Corn dog with French fries</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">From the Grill</h4>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Steak</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hacienda El Asadero Steak</td>
                                <td>$13.50</td>
                            </tr>
                            <tr>
                                <td>T-Bone Steak Tampique&#241;o</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>T-Bone Steak Mexicano</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Steak Degollado</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Steak Guadalajara</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Steak & Shrimp</td>
                                <td>$14.99</td>
                            </tr>
                            <tr>
                                <td>Carne Asada</td>
                                <td>$12.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Pork</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Carnitas Uruapan</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Molcajete Verde</td>
                                <td>$10.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Chicken</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pollo Richard</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Pollo Milanesa</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Pollo Loco</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Pollo Ranchero</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Pollo Hawaiano</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Cazuel&#243;n</td>
                                <td>$13.99</td>
                            </tr>
                            <tr>
                                <td>Chori Pollo</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Pollo Tropical</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Pollo Poblano</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Arroz con Pollo<br>Add bacon</td>
                                <td>$9.99<br>$1.99</td>
                            </tr>
                            <tr>
                                <td>Mike's Plate</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Arroz con Pollo y Camar&#243;n</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>El Chelepe Especial</td>
                                <td>$11.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Favorites</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mexican Pizza</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Fajitas Nacho Supreme</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Taquitos Mexicanos</td>
                                <td>$7.99</td>
                            </tr>
                            <tr>
                                <td>Chile Verde</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Tacos de Carne Asada</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Special Dinner</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Guadalajara</td>
                                <td>$7.99</td>
                            </tr>
                            <tr>
                                <td>Chicken Flautas Rancheras</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Chile Colorado</td>
                                <td>$10.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Seafood</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3 Fish Tacos</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Camerones a la Diabla</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Red Snapper a la Veracruzana</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Camerones al Mojo de Ajo</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Arroz con Camer&#243;n</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Grilled Shrimp</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Shrimp Cocktail</td>
                                <td>$11.99</td>
                            </tr>
                            <tr>
                                <td>Mariscos Acapulco</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Arroz con Mariscos</td>
                                <td>$12.99</td>
                            </tr>
                            <tr>
                                <td>Molcajete Seafood</td>
                                <td>$14.99</td>
                            </tr>
                            <tr>
                                <td>Canc&#250;n Tilapia</td>
                                <td>$10.99</td>
                            </tr>
                            <tr>
                                <td>Scallops Cotorros</td>
                                <td>$9.99</td>
                            </tr>
                            <tr>
                                <td>Camarones a la Espa&#241;ola</td>
                                <td>$10.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">Lunch Only</h4>
        <div class="divider"></div>
        <p class="center-align">Served between 11:00 a.m. and 3:00 p.m., Monday though Saturday.<br>No substitutions
            except for rice and beans. All take-out orders, add $0.50.</p>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Speedy Gonz&#225;les</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One taco, one enchilada and choice of rice or beans</td>
                                <td>$5.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 1</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chile relleno, one taco, beans and guacamole salad</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 2</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef burrito, beans and Mexican rice</td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 3</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One enchilada, rice and beans</td>
                                <td>$4.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 4</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One chile relleno, rice and beans</td>
                                <td>$4.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 5</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One beef burrito, one taco and rice</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 6</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tostada, rice and beans</td>
                                <td>$4.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 7</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One burrito deluxe filled with beef or chicken and served with choice of rice or
                                    beans</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 8</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One quesadilla filled with beef or chicken and served with guacamole salad and
                                    choice of rice or beans</td>
                                <td>$6.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 9</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>One soft or fried chimichanga with choice of chicken or beef and served with beans
                                </td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 10</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mushroom quesadilla, one beef enchilada and one chalupa</td>
                                <td>$6.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 11</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Arroz con Pollo</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 12</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Arroz con Camarones</td>
                                <td>$9.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 13</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Scallops Cotorros</td>
                                <td>$8.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 14</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Seafood Fajitas</td>
                                <td>$9.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 15</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Shrimp Fajitas</td>
                                <td>$9.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Special Lunch 16</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Grilled steak and rice with cheese</td>
                                <td>$7.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Huevos con Chorizo or Rancheros</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Two eggs with Mexican chorizo or ranchero sauce. Cooked with tomatoes, onions and
                                    peppers. Served with rice, beans and tortillas.</td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Chilaquiles Lunch</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fried corn tortilla chips with tomato sauce, chicken, white melted cheese and
                                    chopped onions. Served with rice and beans.</td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Taquitos Mexicanos</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cripsy corn tortillas filled with flavorful shredded beef and topped with guacamole,
                                    pico de gallo and sour cream. Served with rice and beans.</td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Taco Vianico</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Crispy flour tortilla shell with chicken or beef, lettuce, tomatoes, cheese and sour
                                    cream</td>
                                <td>$5.99</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <h4 class="center-align">Lunch Fajitas</h4>
        <div class="divider"></div>
        <p class="center-align">A feast for the senses. Our classic fajitas are served sizzling on an extra large
            cast-iron skillet with saut&#233;ed, garden-fresh vegetables. Served with beans, rice, fresh guacamole salad
            and warm tortillas.</p>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Lunch Fajitas</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Steak or Chicken Breast Fajitas</td>
                                <td>$8.50</td>
                            </tr>
                            <tr>
                                <td>Carnitas Fajitas</td>
                                <td>$8.50</td>
                            </tr>
                            <tr>
                                <td>Steak & Chicken Breast Fajitas</td>
                                <td>$8.50</td>
                            </tr>
                            <tr>
                                <td>Vegetarian Fajitas</td>
                                <td>$8.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Desserts</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Fried Ice Cream</td>
                                <td>$3.49</td>
                            </tr>
                            <tr>
                                <td>Flan</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Sopapillas</td>
                                <td>$2.25</td>
                            </tr>
                            <tr>
                                <td>Churros</td>
                                <td>$2.75</td>
                            </tr>
                            <tr>
                                <td>White Chocolate Raspberry Cheesecake</td>
                                <td>$3.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Beverages</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Drinks - Free refills<br>Coke, Diet Coke,<br>Sprite, Pibb Xtra,<br>Lemonade,
                                    Fanta Orange</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Iced Tea</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Coffee</td>
                                <td>$1.59</td>
                            </tr>
                            <tr>
                                <td>Kids Drinks<br>Milk</td>
                                <td>$0.99<br>1.50 - No refills</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-amber btn-flat">Close</a>
    </div>
</div>