<div id="hunan-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="center-align">Hunan Garden</h4>
    <div class="divider"></div>
    <p class="center-align"><i class="fas fa-pepper-hot red-text"></i> Hot and Spicy</p>
    <ul class="collapsible expandable">
      <li>
        <div class="collapsible-header">Appetizers</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>101 Egg Roll (1)</td>
                <td>$1.30</td>
              </tr>
              <tr>
                <td>102 Crab Meat Rangoon (4)</td>
                <td>$3.35</td>
              </tr>
              <tr>
                <td>103 Fried Wonton (6)</td>
                <td>$2.25</td>
              </tr>
              <tr>
                <td>104 Shrimp Tempura</td>
                <td>$5.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Soups</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>201 Egg Drop Soup</td>
                <td>$1.30</td>
              </tr>
              <tr>
                <td>202 Wonton Soup</td>
                <td>$1.30</td>
              </tr>
              <tr>
                <td>203 <i class="fas fa-pepper-hot red-text"></i> Hot and Sour</td>
                <td>$1.30</td>
              </tr>
              <tr>
                <td>204 Vegetable Soup</td>
                <td>$1.30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Chef's Specials</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>C-1 Seafood Combo</td>
                <td>$12.25</td>
              </tr>
              <tr>
                <td>C-2 Sesame Chicken</td>
                <td>$9.95</td>
              </tr>
              <tr>
                <td>C-3 Cherry Chicken</td>
                <td>$10.35</td>
              </tr>
              <tr>
                <td>C-4 <i class="fas fa-pepper-hot red-text"></i> Peking Beef</td>
                <td>$11.55</td>
              </tr>
              <tr>
                <td>C-5 Golden Shrimp</td>
                <td>$11.95</td>
              </tr>
              <tr>
                <td>C-6 <i class="fas fa-pepper-hot red-text"></i> Orange Chicken</td>
                <td>$9.95</td>
              </tr>
              <tr>
                <td>C-7 Curry Chicken</td>
                <td>$9.50</td>
              </tr>
              <tr>
                <td>C-8 Beef with Scallop</td>
                <td>$11.95</td>
              </tr>
              <tr>
                <td>C-9 <i class="fas fa-pepper-hot red-text"></i> Hunan Combination</td>
                <td>$11.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">House Specials</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>H-1 Happy Family</td>
                <td>$12.25</td>
              </tr>
              <tr>
                <td>H-2 <i class="fas fa-pepper-hot red-text"></i> Orange Beef</td>
                <td>$10.95</td>
              </tr>
              <tr>
                <td>H-3 <i class="fas fa-pepper-hot red-text"></i> Shrimp and Chicken - Hunan Style</td>
                <td>$10.95</td>
              </tr>
              <tr>
                <td>H-4 Sweet and Sour Chicken Combination</td>
                <td>$11.25</td>
              </tr>
              <tr>
                <td>H-5 <i class="fas fa-pepper-hot red-text"></i> Land and Sea</td>
                <td>$11.45</td>
              </tr>
              <tr>
                <td>H-6 Sizzling Shrimp</td>
                <td>$11.25</td>
              </tr>
              <tr>
                <td>H-7 <i class="fas fa-pepper-hot red-text"></i> General Tso's Chicken</td>
                <td>$9.95</td>
              </tr>
              <tr>
                <td>H-8 Triple Crown</td>
                <td>$10.95</td>
              </tr>
              <tr>
                <td>H-9 <i class="fas fa-pepper-hot red-text"></i> Peking Shrimp</td>
                <td>$11.95</td>
              </tr>
              <tr>
                <td>H-10 Double Taste Shrimp</td>
                <td>$11.95</td>
              </tr>
              <tr>
                <td>H-11 Cantonese Chicken</td>
                <td>$10.95</td>
              </tr>
              <tr>
                <td>H-12 <i class="fas fa-pepper-hot red-text"></i> Empress Chicken</td>
                <td>$9.95</td>
              </tr>
              <tr>
                <td>H-13 <i class="fas fa-pepper-hot red-text"></i> Hot Braised Chicken</td>
                <td>$9.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Seafood</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>301 Sweet and Sour Shrimp</td>
                <td>$10.45</td>
              </tr>
              <tr>
                <td>302 Shrimp with Vegetables</td>
                <td>$10.45</td>
              </tr>
              <tr>
                <td>303 Shrimp with Snow Peas</td>
                <td>$10.45</td>
              </tr>
              <tr>
                <td>304 Shrimp with Cashew Nuts</td>
                <td>$11.05</td>
              </tr>
              <tr>
                <td>305 <i class="fas fa-pepper-hot red-text"></i> Shrimp with Garlic Sauce</td>
                <td>$10.45</td>
              </tr>
              <tr>
                <td>306 <i class="fas fa-pepper-hot red-text"></i> Kung Pao Shrimp</td>
                <td>$10.45</td>
              </tr>
              <tr>
                <td>307 <i class="fas fa-pepper-hot red-text"></i> Spicy Szechuan Shrimp</td>
                <td>$10.45</td>
              </tr>
              <tr>
                <td>308 Shrimp with Lobster Sauce</td>
                <td>$10.45</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Beef</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>401 Beef with Green Pepper</td>
                <td>$9.25</td>
              </tr>
              <tr>
                <td>402 Mongolian Beef</td>
                <td>$9.25</td>
              </tr>
              <tr>
                <td>403 Beef with Broccoli</td>
                <td>$9.25</td>
              </tr>
              <tr>
                <td>404 Beef with Snow Peas</td>
                <td>$9.25</td>
              </tr>
              <tr>
                <td>405 <i class="fas fa-pepper-hot red-text"></i> Hunan Beef</td>
                <td>$9.25</td>
              </tr>
              <tr>
                <td>406 Beef with Chinese Vegetables</td>
                <td>$9.25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Poultry</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>501 Sweet and Sour Chicken</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>502 Chicken with Chinese Vegetables</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>503 <i class="fas fa-pepper-hot red-text"></i> Kung Pao Chicken</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>504 Moo Goo Gai Pan</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>505 <i class="fas fa-pepper-hot red-text"></i> Hunan Chicken</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>506 Chicken with Snow Peas</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>507 Chicken with Cashew Nuts</td>
                <td>$9.15</td>
              </tr>
              <tr>
                <td>508 Chicken with Almond</td>
                <td>$9.15</td>
              </tr>
              <tr>
                <td>509 <i class="fas fa-pepper-hot red-text"></i> Yu-Shin Chicken</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>510 Chicken with Broccoli</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>511 Garlic Chicken</td>
                <td>$8.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Pork</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>601 Sweet and Sour Pork</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>602 <i class="fas fa-pepper-hot red-text"></i> Twice Cooked Pork</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>603 Pork Vegetable</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>604 <i class="fas fa-pepper-hot red-text"></i> Pork with Hot Garlic Sauce</td>
                <td>$8.75</td>
              </tr>
              <tr>
                <td>605 <i class="fas fa-pepper-hot red-text"></i> Mandarin Tofu</td>
                <td>$8.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Vegetables</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>701 Vegetable Delight</td>
                <td>$7.95</td>
              </tr>
              <tr>
                <td>702 <i class="fas fa-pepper-hot red-text"></i> Stir-Fried Broccoli with Hot Garlic Sauce</td>
                <td>$7.95</td>
              </tr>
              <tr>
                <td>703 Snow Peas with Water Chestnut</td>
                <td>$7.95</td>
              </tr>
              <tr>
                <td>704 Snow Peas, Bamboo Shoots and Mushrooms</td>
                <td>$8.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">American Menu</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A-1 Chicken Fingers with Fries</td>
                <td>$5.95</td>
              </tr>
              <tr>
                <td>A-2 Fried Shrimp with Fries</td>
                <td>$5.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
        <div class="collapsible-header">Lo Mein</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>801 Chicken, Beef or Pork</td>
                <td>$7.15</td>
              </tr>
              <tr>
                <td>802 Shrimp</td>
                <td>$8.15</td>
              </tr>
              <tr>
                <td>803 House Special</td>
                <td>$8.45</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Chow Mein</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>804 Chicken, Beef or Pork</td>
                <td>$7.15</td>
              </tr>
              <tr>
                <td>805 Shrimp</td>
                <td>$7.95</td>
              </tr>
              <tr>
                <td>806 House Special</td>
                <td>$7.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Chop Suey</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>807 Chicken, Beef or Pork</td>
                <td>$7.15</td>
              </tr>
              <tr>
                <td>808 Shrimp</td>
                <td>$7.95</td>
              </tr>
              <tr>
                <td>809 House Special</td>
                <td>$7.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Fried Rice</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>901 Chicken, Beef or Pork</td>
                <td>$7.15</td>
              </tr>
              <tr>
                <td>902 Shrimp</td>
                <td>$8.15</td>
              </tr>
              <tr>
                <td>903 Yang Chou Style</td>
                <td>$8.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Desserts</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sesame Twist</td>
                <td>$3.25</td>
              </tr>
              <tr>
                <td>Fried Banana</td>
                <td>$3.25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Beverages</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Soft Drinks</td>
                <td>$1.50</td>
              </tr>
              <tr>
                <td>Iced Tea</td>
                <td>$1.50</td>
              </tr>
              <tr>
                <td>Coffee</td>
                <td>$1.50</td>
              </tr>
              <tr>
                <td>Hot Tea</td>
                <td>$1.50</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    <h4 class="center-align">Luncheon Specials</h4>
    <div class="divider"></div>
    <p class="center-align">Served From 11:00 AM to 2:30 PM<br>Includes Egg Roll, Fried Rice, and Choice of:<br>Hot &
      Sour, Egg Drop or Wonton Soup</p>
    <ul class="collapsible expandable">
      <li>
        <div class="collapsible-header">Poultry</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>201 Sweet and Sour Chicken</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>202 Moo Goo Gai Pan</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>203 <i class="fas fa-pepper-hot red-text"></i> Kung Pao Chicken</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>204 Garlic Chicken</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>205 Almond Chicken</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>206 Chicken with Vegetables</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>207 Chicken Chow Mein</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>208 <i class="fas fa-pepper-hot red-text"></i> Hunan Chicken</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>209 Cashew Chicken</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>210 <i class="fas fa-pepper-hot red-text"></i> Yu-Shin Chicken</td>
                <td>$5.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Beef</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>301 <i class="fas fa-pepper-hot red-text"></i> Hunan Beef</td>
                <td>$6.25</td>
              </tr>
              <tr>
                <td>302 Beef with Vegetables</td>
                <td>$6.25</td>
              </tr>
              <tr>
                <td>303 Green Pepper Beef</td>
                <td>$6.25</td>
              </tr>
              <tr>
                <td>304 Beef with Broccoli</td>
                <td>$6.25</td>
              </tr>
              <tr>
                <td>305 Beef Chow Mein</td>
                <td>$6.25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Pork</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>401 Sweet and Sour Pork</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>402 <i class="fas fa-pepper-hot red-text"></i> Pork with Garlic Sauce</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>403 Pork Chow Mein</td>
                <td>$5.75</td>
              </tr>
              <tr>
                <td>404 Mandarin Pork</td>
                <td>$5.75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Shrimp</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>501 Sweet and Sour Shrimp</td>
                <td>$6.95</td>
              </tr>
              <tr>
                <td>502 <i class="fas fa-pepper-hot red-text"></i> Shrimp with Garlic Sauce</td>
                <td>$6.95</td>
              </tr>
              <tr>
                <td>503 Shrimp with Vegetables</td>
                <td>$6.95</td>
              </tr>
              <tr>
                <td>504 Shrimp Chow Mein</td>
                <td>$6.95</td>
              </tr>
              <tr>
                <td>505 Shrimp with Lobster Sauce</td>
                <td>$6.95</td>
              </tr>
              <tr>
                <td>506 Cashew Shrimp</td>
                <td>$6.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Vegetable</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Item Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>601 Vegetable Delight</td>
                <td>$4.95</td>
              </tr>
              <tr>
                <td>602 Snow Peas with Water Chestnut</td>
                <td>$4.95</td>
              </tr>
              <tr>
                <td>603 Snow Peas, Bamboo Shoots and Mushrooms</td>
                <td>$4.95</td>
              </tr>
              <tr>
                <td>604 <i class="fas fa-pepper-hot red-text"></i> Broccoli with Hot Garlic Sauce</td>
                <td>$4.95</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    <h4 class="center-align">Family Dinners</h4>
    <div class="divider"></div>
    <p class="center-align">All Family Dinners are served with Egg Rolls, Rangoon,<br>Steamed or Fried Rice and choice of Egg Drop,<br>Wonton, or Hot and Sour Soup.</p>
    <ul class="collapsible expandable">
      <li>
        <div class="collapsible-header">For Two</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Beef with Green Pepper</td>
                <td>$21.15</td>
              </tr>
              <tr>
                <td>Sweet and Sour Pork</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">For Three</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Moo Goo Gai Pan</td>
                <td>$31.05</td>
              </tr>
              <tr>
                <td>Beef with Green Pepper</td>
              </tr>
              <tr>
                <td>Sweet and Sour Pork</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">For Four</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Moo Goo Gai Pan</td>
                <td>$41.65</td>
              </tr>
              <tr>
                <td>Beef with Green Pepper</td>
              </tr>
              <tr>
                <td>Sweet and Sour Pork</td>
              </tr>
              <tr>
                <td><i class="fas fa-pepper-hot red-text"></i> Shrimp with Hot Garlic Sauce</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">For Five</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Moo Goo Gai Pan</td>
                <td>$53.35</td>
              </tr>
              <tr>
                <td>Beef with Green Pepper</td>
              </tr>
              <tr>
                <td>Sweet and Sour Pork</td>
              </tr>
              <tr>
                <td>Triple Crown</td>
              </tr>
              <tr>
                <td><i class="fas fa-pepper-hot red-text"></i> Shrimp with Hot Garlic Sauce</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="collapsible-header">For Six</div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Moo Goo Gai Pan</td>
                <td>$63.55</td>
              </tr>
              <tr>
                <td>Triple Crown</td>
              </tr>
              <tr>
                <td>Beef with Green Pepper</td>
              </tr>
              <tr>
                <td>Sweet and Sour Pork</td>
              </tr>
              <tr>
                <td><i class="fas fa-pepper-hot red-text"></i> Shrimp with Hot Garlic Sauce</td>
              </tr>
              <tr>
                <td>Garlic Chicken</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-amber btn-flat">Close</a>
  </div>
</div>