<div id="scoops-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="center-align">Scoops Homemade Ice Cream</h4>
        <div class="divider"></div>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header">Cones</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Baby</td>
                                <td>$0.70</td>
                            </tr>
                            <tr>
                                <td>Soft Reg.</td>
                                <td>$1.89</td>
                            </tr>
                            <tr>
                                <td>Hard Baby</td>
                                <td>$1.17</td>
                            </tr>
                            <tr>
                                <td>1 Hard Dip</td>
                                <td>$2.52</td>
                            </tr>
                            <tr>
                                <td>2 Hard Dip</td>
                                <td>$3.54</td>
                            </tr>
                            <tr>
                                <td>Soft Waffle</td>
                                <td>$2.62</td>
                            </tr>
                            <tr>
                                <td>1 Dip Waffle</td>
                                <td>$3.32</td>
                            </tr>
                            <tr>
                                <td>2 Dip Waffle</td>
                                <td>$4.34</td>
                            </tr>
                            <tr>
                                <td>3 Dip Waffle</td>
                                <td>$5.33</td>
                            </tr>
                            <tr>
                                <td>Derby Dip</td>
                                <td>$0.30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Cups</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Reg.</td>
                                <td>$1.89</td>
                            </tr>
                            <tr>
                                <td>Soft Large</td>
                                <td>$2.35</td>
                            </tr>
                            <tr>
                                <td>1 Hard Dip</td>
                                <td>$2.52</td>
                            </tr>
                            <tr>
                                <td>2 Hard Dip</td>
                                <td>$3.54</td>
                            </tr>
                            <tr>
                                <td>3 Hard Dip</td>
                                <td>$4.53</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">FLoats</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Small</td>
                                <td>$2.04</td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td>$2.45</td>
                            </tr>
                            <tr>
                                <td>Large</td>
                                <td>$2.84</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Soda</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Medium</td>
                                <td>$3.64</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Shakes</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Small</td>
                                <td>$2.69</td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td>$2.89</td>
                            </tr>
                            <tr>
                                <td>Large</td>
                                <td>$3.09</td>
                            </tr>
                            <tr>
                                <td>Add Malt</td>
                                <td>$0.10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Tornadoes</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Small</td>
                                <td>$3.39</td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td>$3.84</td>
                            </tr>
                            <tr>
                                <td>Large</td>
                                <td>$4.24</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Smoothies</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Medium</td>
                                <td>$4.02</td>
                            </tr>
                            <tr>
                                <td>Add Yogurt</td>
                                <td>$0.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Shaved Ice</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Small</td>
                                <td>$1.96</td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td>$2.48</td>
                            </tr>
                            <tr>
                                <td>Large</td>
                                <td>$2.99</td>
                            </tr>
                            <tr>
                                <td>Add Ice Cream</td>
                                <td>$0.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">To Go</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Pint</td>
                                <td>$3.45</td>
                            </tr>
                            <tr>
                                <td>Soft Quart</td>
                                <td>$6.00</td>
                            </tr>
                            <tr>
                                <td>Hard Pint</td>
                                <td>$4.80</td>
                            </tr>
                            <tr>
                                <td>Hard Quart</td>
                                <td>$7.40</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Sundaes</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Regular</td>
                                <td>$2.59</td>
                            </tr>
                            <tr>
                                <td>Soft Large</td>
                                <td>$3.19</td>
                            </tr>
                            <tr>
                                <td>1 Hard Dip</td>
                                <td>$3.20</td>
                            </tr>
                            <tr>
                                <td>2 Hard Dip</td>
                                <td>$4.05</td>
                            </tr>
                            <tr>
                                <td>Nachos</td>
                                <td>$3.68</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Splits</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Soft Serve</td>
                                <td>$3.99</td>
                            </tr>
                            <tr>
                                <td>Hard Dip</td>
                                <td>$4.77</td>
                            </tr>
                            <tr>
                                <td>Special</td>
                                <td>$4.77</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Drinks</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Small</td>
                                <td>$1.79</td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td>$1.99</td>
                            </tr>
                            <tr>
                                <td>Large</td>
                                <td>$2.19</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Novelties</div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monkey Tail</td>
                                <td>$1.45</td>
                            </tr>
                            <tr>
                                <td>Dilly Bar</td>
                                <td>$1.64</td>
                            </tr>
                            <tr>
                                <td>Hokey Pokey</td>
                                <td>$1.74</td>
                            </tr>
                            <tr>
                                <td>Ice Cream Sandwich</td>
                                <td>$1.64</td>
                            </tr>
                            <tr>
                                <td>Mix / Match / 6</td>
                                <td>$7.80</td>
                            </tr>
                            <tr>
                                <td>Cheesecake</td>
                                <td>$2.94</td>
                            </tr>
                            <tr>
                                <td>Dog Treats</td>
                                <td>$0.33</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-amber btn-flat">Close</a>
    </div>
</div>